.shape-container{
    height: 500px;
    background-color: rgb(33, 159, 201);
    position: relative;
}
.stats-container{
    height: 500px;
    background: beige;
}

.addShapeContainer{
    margin-bottom: 40px;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}